# Ignorar o ambiente virtual
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Ignorar arquivos de dados sensíveis
data/raw/
data/processed/

# Ignorar arquivos temporários do Jupyter Notebook, mas NÃO os notebooks
*.ipynb_checkpoints/

# Ignorar arquivos Python compilados
*.pyc
__pycache__/

# Ignorar logs e arquivos temporários
logs/
*.log
*.tmp

# Ignorar exportações desnecessárias
*.csv
*.xlsx
*.json
